:root {
  --clr-neutral-dark: #343a40;
  --clr-neutral-med: #868e96;
  --clr-neutral-semi: #dee2e6;
  --clr-neutral-light: #f8f9fa;
  --clr-white: #fff;

  --clr-accent-primary: #862e9c;
  --clr-accent-secondary: #3bc9db;
  --clr-accent-tertiary: #4dabf7;

  --ff-base: "Kanit", sans-serif;

  --fw-regular: 300;
  --fw-semibold: 500;

  --fs-main: 0.875rem;

  --content-margin: 3rem;
}

/* ----------------------------- GENERAL ELEMENTS ----------------------------- */

body {
  font-family: var(--ff-base);
  color: var(--clr-neutral-dark);
  font-size: var(--fs-main);
  font-weight: var(--fw-regular);

  display: grid;
  /* margin: 2.5rem; */
}

header {
  background-color: #343a40;
  margin: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 5rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--clr-neutral-light);
  padding: 0 1rem;
}

a:hover {
  color: var(--clr-accent-primary);
  transition: 0.4s;
}

img {
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

span {
  color: var(--clr-accent-primary);
}

p {
  font-size: 1.25rem;
}

button {
  margin-top: 3rem;
  border: none;
  padding: 15px 32px;
  border-radius: 3px;
  color: var(--clr-white);
  background-color: var(--clr-accent-secondary);
}

button:hover {
  background-color: var(--clr-accent-primary);
  transition: 0.5s;
}

/* ------------------------------- HERO ELEMENTS ------------------------- */

.logo {
  color: var(--clr-neutral-light);
  font-size: 1.75rem;
}

.hero {
  /* width: 100vw; */
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero_lhs {
  display: grid;
  align-items: end;
}

.hero_rhs {
  display: grid;
}

.text_block {
  display: grid;
  justify-items: end;
  align-content: center;
  margin-right: 100px;
}

.name {
  margin-top: -1vw;
}

.title_text {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.tech_block {
  display: grid;
  justify-items: end;
  align-content: center;
  margin-right: 100px;
}

.icon_container {
  display: inline-flex;
  justify-content: space-between;
}

.icon {
  width: 4rem;
  margin: 10px 15px;
}
.colour_band {
  min-height: 4rem;
  background-image: linear-gradient(
    to right,
    var(--clr-accent-primary),
    var(--clr-accent-secondary)
  );
}

/* -------------------------- ABOUT ELEMENTS ---------------------- */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* padding: 5vw; */
  margin: 5rem;
  height: 60vh;
}

.meta_box {
  margin-bottom: 2rem;
}

.meta_number {
  color: var(--clr-accent-primary);
  font-size: 5.5rem;
  font-weight: 500;
}

.meta_title {
  color: var(--clr-accent-primary);
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -2.2rem;
}

.interest_box {
  margin-bottom: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgrey;
}

.about_rhs {
  padding: 2rem;
}

/* -------------------------  PROJECT SECTION --------------------------- */

.projects {
  display: grid;
  grid-template-columns: 35fr 65fr;
  justify-items: center;
  margin-top: 25rem;
}

.project_rhs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.project_card {
  max-width: 250px;
  margin: 2rem;
}

.project_card img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.project_card img:hover {
  transform: scale(1.1);
}

.description {
  margin-bottom: 1rem;
}

.description p {
  margin-top: -0.5rem;
}
